body{
  color: #303030;
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.board-container {
  margin: 60px;
}
.playagain-button{
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #00FFFF;
  color: blueviolet;
}
.text{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}